USE [StoreSample]
GO
/****** Object:  StoredProcedure [Sales].[usp_AddOrderWithDetail]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP PROCEDURE [Sales].[usp_AddOrderWithDetail]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [CHK_unitprice]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [CHK_qty]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [CHK_discount]
GO
ALTER TABLE [Production].[Products] DROP CONSTRAINT [CHK_Products_unitprice]
GO
ALTER TABLE [HR].[Employees] DROP CONSTRAINT [CHK_birthdate]
GO
ALTER TABLE [Sales].[Orders] DROP CONSTRAINT [FK_Orders_Shippers]
GO
ALTER TABLE [Sales].[Orders] DROP CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [Sales].[Orders] DROP CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [Production].[Products] DROP CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [Production].[Products] DROP CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [HR].[Employees] DROP CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [Sales].[Orders] DROP CONSTRAINT [DFT_Orders_freight]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [DFT_OrderDetails_discount]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [DFT_OrderDetails_qty]
GO
ALTER TABLE [Sales].[OrderDetails] DROP CONSTRAINT [DFT_OrderDetails_unitprice]
GO
ALTER TABLE [Production].[Products] DROP CONSTRAINT [DFT_Products_discontinued]
GO
ALTER TABLE [Production].[Products] DROP CONSTRAINT [DFT_Products_unitprice]
GO
/****** Object:  Index [idx_nc_shippostalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_shippostalcode] ON [Sales].[Orders]
GO
/****** Object:  Index [idx_nc_shipperid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_shipperid] ON [Sales].[Orders]
GO
/****** Object:  Index [idx_nc_shippeddate]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_shippeddate] ON [Sales].[Orders]
GO
/****** Object:  Index [idx_nc_orderdate]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_orderdate] ON [Sales].[Orders]
GO
/****** Object:  Index [idx_nc_empid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_empid] ON [Sales].[Orders]
GO
/****** Object:  Index [idx_nc_custid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_custid] ON [Sales].[Orders]
GO
/****** Object:  Index [idx_nc_productid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_productid] ON [Sales].[OrderDetails]
GO
/****** Object:  Index [idx_nc_orderid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_orderid] ON [Sales].[OrderDetails]
GO
/****** Object:  Index [idx_nc_region]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_region] ON [Sales].[Customers]
GO
/****** Object:  Index [idx_nc_postalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_postalcode] ON [Sales].[Customers]
GO
/****** Object:  Index [idx_nc_companyname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_companyname] ON [Sales].[Customers]
GO
/****** Object:  Index [idx_nc_city]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_city] ON [Sales].[Customers]
GO
/****** Object:  Index [idx_nc_postalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_postalcode] ON [Production].[Suppliers]
GO
/****** Object:  Index [idx_nc_companyname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_companyname] ON [Production].[Suppliers]
GO
/****** Object:  Index [idx_nc_supplierid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_supplierid] ON [Production].[Products]
GO
/****** Object:  Index [idx_nc_productname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_productname] ON [Production].[Products]
GO
/****** Object:  Index [idx_nc_categoryid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_categoryid] ON [Production].[Products]
GO
/****** Object:  Index [categoryname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [categoryname] ON [Production].[Categories]
GO
/****** Object:  Index [idx_nc_postalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_postalcode] ON [HR].[Employees]
GO
/****** Object:  Index [idx_nc_lastname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP INDEX [idx_nc_lastname] ON [HR].[Employees]
GO
/****** Object:  Table [Production].[Suppliers]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Production].[Suppliers]') AND type in (N'U'))
DROP TABLE [Production].[Suppliers]
GO
/****** Object:  Table [Production].[Categories]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Production].[Categories]') AND type in (N'U'))
DROP TABLE [Production].[Categories]
GO
/****** Object:  View [Sales].[vwCustomerPrediction]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [Sales].[vwCustomerPrediction]
GO
/****** Object:  Table [Sales].[Customers]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Sales].[Customers]') AND type in (N'U'))
DROP TABLE [Sales].[Customers]
GO
/****** Object:  View [Production].[vwProductsBasic]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [Production].[vwProductsBasic]
GO
/****** Object:  Table [Production].[Products]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Production].[Products]') AND type in (N'U'))
DROP TABLE [Production].[Products]
GO
/****** Object:  View [Sales].[vwShippersBasic]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [Sales].[vwShippersBasic]
GO
/****** Object:  Table [Sales].[Shippers]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Sales].[Shippers]') AND type in (N'U'))
DROP TABLE [Sales].[Shippers]
GO
/****** Object:  View [HR].[vwEmployeesBasic]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [HR].[vwEmployeesBasic]
GO
/****** Object:  Table [HR].[Employees]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[HR].[Employees]') AND type in (N'U'))
DROP TABLE [HR].[Employees]
GO
/****** Object:  View [Sales].[CustOrders]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [Sales].[CustOrders]
GO
/****** Object:  View [Sales].[OrderTotalsByYear]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [Sales].[OrderTotalsByYear]
GO
/****** Object:  View [Sales].[OrderValues]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP VIEW [Sales].[OrderValues]
GO
/****** Object:  Table [Sales].[OrderDetails]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Sales].[OrderDetails]') AND type in (N'U'))
DROP TABLE [Sales].[OrderDetails]
GO
/****** Object:  Table [Sales].[Orders]    Script Date: 28/09/2025 10:37:02 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Sales].[Orders]') AND type in (N'U'))
DROP TABLE [Sales].[Orders]
GO
/****** Object:  Schema [Sales]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP SCHEMA [Sales]
GO
/****** Object:  Schema [Production]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP SCHEMA [Production]
GO
/****** Object:  Schema [HR]    Script Date: 28/09/2025 10:37:02 p. m. ******/
DROP SCHEMA [HR]
GO
/****** Object:  Schema [HR]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE SCHEMA [HR]
GO
/****** Object:  Schema [Production]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE SCHEMA [Production]
GO
/****** Object:  Schema [Sales]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Table [Sales].[Orders]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Orders](
	[orderid] [int] IDENTITY(1,1) NOT NULL,
	[custid] [int] NULL,
	[empid] [int] NOT NULL,
	[orderdate] [datetime] NOT NULL,
	[requireddate] [datetime] NOT NULL,
	[shippeddate] [datetime] NULL,
	[shipperid] [int] NOT NULL,
	[freight] [money] NOT NULL,
	[shipname] [nvarchar](40) NOT NULL,
	[shipaddress] [nvarchar](60) NOT NULL,
	[shipcity] [nvarchar](15) NOT NULL,
	[shipregion] [nvarchar](15) NULL,
	[shippostalcode] [nvarchar](10) NULL,
	[shipcountry] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[OrderDetails]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[OrderDetails](
	[orderid] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[unitprice] [money] NOT NULL,
	[qty] [smallint] NOT NULL,
	[discount] [numeric](4, 3) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[orderid] ASC,
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Sales].[OrderValues]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------
-- Create Views
---------------------------------------------------------------------

CREATE VIEW [Sales].[OrderValues]
  WITH SCHEMABINDING
AS

SELECT O.orderid, O.custid, O.empid, O.shipperid, O.orderdate,
  CAST(SUM(OD.qty * OD.unitprice * (1 - discount))
       AS NUMERIC(12, 2)) AS val
FROM Sales.Orders AS O
  JOIN Sales.OrderDetails AS OD
    ON O.orderid = OD.orderid
GROUP BY O.orderid, O.custid, O.empid, O.shipperid, O.orderdate;
GO
/****** Object:  View [Sales].[OrderTotalsByYear]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Sales].[OrderTotalsByYear]
  WITH SCHEMABINDING
AS

SELECT
  YEAR(O.orderdate) AS orderyear,
  SUM(OD.qty) AS qty
FROM Sales.Orders AS O
  JOIN Sales.OrderDetails AS OD
    ON OD.orderid = O.orderid
GROUP BY YEAR(orderdate);
GO
/****** Object:  View [Sales].[CustOrders]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Sales].[CustOrders]
  WITH SCHEMABINDING
AS

SELECT
  O.custid, 
  DATEADD(month, DATEDIFF(month, 0, O.orderdate), 0) AS ordermonth,
  SUM(OD.qty) AS qty
FROM Sales.Orders AS O
  JOIN Sales.OrderDetails AS OD
    ON OD.orderid = O.orderid
GROUP BY custid, DATEADD(month, DATEDIFF(month, 0, O.orderdate), 0);
GO
/****** Object:  Table [HR].[Employees]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Employees](
	[empid] [int] IDENTITY(1,1) NOT NULL,
	[lastname] [nvarchar](20) NOT NULL,
	[firstname] [nvarchar](10) NOT NULL,
	[title] [nvarchar](30) NOT NULL,
	[titleofcourtesy] [nvarchar](25) NOT NULL,
	[birthdate] [datetime] NOT NULL,
	[hiredate] [datetime] NOT NULL,
	[address] [nvarchar](60) NOT NULL,
	[city] [nvarchar](15) NOT NULL,
	[region] [nvarchar](15) NULL,
	[postalcode] [nvarchar](10) NULL,
	[country] [nvarchar](15) NOT NULL,
	[phone] [nvarchar](24) NOT NULL,
	[mgrid] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [HR].[vwEmployeesBasic]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Employees: EmpId + FullName
CREATE   VIEW [HR].[vwEmployeesBasic] AS
SELECT empid AS EmpId,
       (firstname + ' ' + lastname) AS FullName
FROM HR.Employees;
GO
/****** Object:  Table [Sales].[Shippers]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Shippers](
	[shipperid] [int] IDENTITY(1,1) NOT NULL,
	[companyname] [nvarchar](40) NOT NULL,
	[phone] [nvarchar](24) NOT NULL,
 CONSTRAINT [PK_Shippers] PRIMARY KEY CLUSTERED 
(
	[shipperid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Sales].[vwShippersBasic]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Shippers: ShipperId + CompanyName
CREATE   VIEW [Sales].[vwShippersBasic] AS
SELECT shipperid AS ShipperId,
       companyname AS CompanyName
FROM Sales.Shippers;
GO
/****** Object:  Table [Production].[Products]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Products](
	[productid] [int] IDENTITY(1,1) NOT NULL,
	[productname] [nvarchar](40) NOT NULL,
	[supplierid] [int] NOT NULL,
	[categoryid] [int] NOT NULL,
	[unitprice] [money] NOT NULL,
	[discontinued] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Production].[vwProductsBasic]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Products: ProductId + ProductName (sin UnitPrice, sin filtro discontinued)
CREATE   VIEW [Production].[vwProductsBasic] AS
SELECT productid AS ProductId,
       productname AS ProductName
FROM Production.Products;
GO
/****** Object:  Table [Sales].[Customers]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Customers](
	[custid] [int] IDENTITY(1,1) NOT NULL,
	[companyname] [nvarchar](40) NOT NULL,
	[contactname] [nvarchar](30) NOT NULL,
	[contacttitle] [nvarchar](30) NOT NULL,
	[address] [nvarchar](60) NOT NULL,
	[city] [nvarchar](15) NOT NULL,
	[region] [nvarchar](15) NULL,
	[postalcode] [nvarchar](10) NULL,
	[country] [nvarchar](15) NOT NULL,
	[phone] [nvarchar](24) NOT NULL,
	[fax] [nvarchar](24) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[custid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Sales].[vwCustomerPrediction]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Sales].[vwCustomerPrediction] AS
WITH O AS
(
    SELECT o.custid, o.orderdate,
           LAG(o.orderdate) OVER (PARTITION BY o.custid ORDER BY o.orderdate) AS prev_orderdate
    FROM Sales.Orders o
),
G AS
(
    SELECT custid,
           MAX(orderdate) AS last_order_date,
           AVG(CASE WHEN prev_orderdate IS NOT NULL THEN DATEDIFF(DAY, prev_orderdate, orderdate) END) AS avg_days
    FROM O
    GROUP BY custid
)
SELECT 
       c.custid        AS CustId,          -- 👈 nuevo
       c.companyname   AS CustomerName,
       g.last_order_date AS LastOrderDate,
       CASE WHEN g.last_order_date IS NOT NULL AND g.avg_days IS NOT NULL
            THEN DATEADD(DAY, CAST(ROUND(g.avg_days, 0) AS INT), g.last_order_date)
            ELSE NULL END AS NextPredictedOrder
FROM Sales.Customers c
LEFT JOIN G g ON g.custid = c.custid;
GO
/****** Object:  Table [Production].[Categories]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Categories](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](15) NOT NULL,
	[description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Suppliers]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Suppliers](
	[supplierid] [int] IDENTITY(1,1) NOT NULL,
	[companyname] [nvarchar](40) NOT NULL,
	[contactname] [nvarchar](30) NOT NULL,
	[contacttitle] [nvarchar](30) NOT NULL,
	[address] [nvarchar](60) NOT NULL,
	[city] [nvarchar](15) NOT NULL,
	[region] [nvarchar](15) NULL,
	[postalcode] [nvarchar](10) NULL,
	[country] [nvarchar](15) NOT NULL,
	[phone] [nvarchar](24) NOT NULL,
	[fax] [nvarchar](24) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[supplierid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [HR].[Employees] ON 

INSERT [HR].[Employees] ([empid], [lastname], [firstname], [title], [titleofcourtesy], [birthdate], [hiredate], [address], [city], [region], [postalcode], [country], [phone], [mgrid]) VALUES (1, N'Davis', N'Sara', N'CEO', N'Ms.', CAST(N'1958-12-08T00:00:00.000' AS DateTime), CAST(N'2002-05-01T00:00:00.000' AS DateTime), N'7890 - 20th Ave. E., Apt. 2A', N'Seattle', N'WA', N'10003', N'USA', N'(206) 555-0101', NULL)
INSERT [HR].[Employees] ([empid], [lastname], [firstname], [title], [titleofcourtesy], [birthdate], [hiredate], [address], [city], [region], [postalcode], [country], [phone], [mgrid]) VALUES (2, N'Funk', N'Don', N'Vice President, Sales', N'Dr.', CAST(N'1962-02-19T00:00:00.000' AS DateTime), CAST(N'2002-08-14T00:00:00.000' AS DateTime), N'9012 W. Capital Way', N'Tacoma', N'WA', N'10001', N'USA', N'(206) 555-0100', 1)
INSERT [HR].[Employees] ([empid], [lastname], [firstname], [title], [titleofcourtesy], [birthdate], [hiredate], [address], [city], [region], [postalcode], [country], [phone], [mgrid]) VALUES (3, N'Lew', N'Judy', N'Sales Manager', N'Ms.', CAST(N'1973-08-30T00:00:00.000' AS DateTime), CAST(N'2002-04-01T00:00:00.000' AS DateTime), N'2345 Moss Bay Blvd.', N'Kirkland', N'WA', N'10007', N'USA', N'(206) 555-0103', 2)
SET IDENTITY_INSERT [HR].[Employees] OFF
GO
SET IDENTITY_INSERT [Production].[Categories] ON 

INSERT [Production].[Categories] ([categoryid], [categoryname], [description]) VALUES (1, N'Beverages', N'Soft drinks, coffees, teas, beers, and ales')
INSERT [Production].[Categories] ([categoryid], [categoryname], [description]) VALUES (2, N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings')
INSERT [Production].[Categories] ([categoryid], [categoryname], [description]) VALUES (3, N'Confections', N'Desserts, candies, and sweet breads')
SET IDENTITY_INSERT [Production].[Categories] OFF
GO
SET IDENTITY_INSERT [Production].[Products] ON 

INSERT [Production].[Products] ([productid], [productname], [supplierid], [categoryid], [unitprice], [discontinued]) VALUES (1, N'Product HHYDP', 1, 1, 18.0000, 0)
INSERT [Production].[Products] ([productid], [productname], [supplierid], [categoryid], [unitprice], [discontinued]) VALUES (2, N'Product RECZE', 1, 1, 19.0000, 0)
INSERT [Production].[Products] ([productid], [productname], [supplierid], [categoryid], [unitprice], [discontinued]) VALUES (3, N'Product IMEHJ', 1, 2, 10.0000, 0)
SET IDENTITY_INSERT [Production].[Products] OFF
GO
SET IDENTITY_INSERT [Production].[Suppliers] ON 

INSERT [Production].[Suppliers] ([supplierid], [companyname], [contactname], [contacttitle], [address], [city], [region], [postalcode], [country], [phone], [fax]) VALUES (1, N'Supplier SWRXU', N'Adolphi, Stephan', N'Purchasing Manager', N'2345 Gilbert St.', N'London', NULL, N'10023', N'UK', N'(171) 456-7890', NULL)
INSERT [Production].[Suppliers] ([supplierid], [companyname], [contactname], [contacttitle], [address], [city], [region], [postalcode], [country], [phone], [fax]) VALUES (2, N'Supplier VHQZD', N'Hance, Jim', N'Order Administrator', N'P.O. Box 5678', N'New Orleans', N'LA', N'10013', N'USA', N'(100) 555-0111', NULL)
INSERT [Production].[Suppliers] ([supplierid], [companyname], [contactname], [contacttitle], [address], [city], [region], [postalcode], [country], [phone], [fax]) VALUES (3, N'Supplier STUAZ', N'Parovszky, Alfons', N'Sales Representative', N'1234 Oxford Rd.', N'Ann Arbor', N'MI', N'10026', N'USA', N'(313) 555-0109', N'(313) 555-0112')
SET IDENTITY_INSERT [Production].[Suppliers] OFF
GO
SET IDENTITY_INSERT [Sales].[Customers] ON 

INSERT [Sales].[Customers] ([custid], [companyname], [contactname], [contacttitle], [address], [city], [region], [postalcode], [country], [phone], [fax]) VALUES (1, N'Customer NRZBB', N'Allen, Michael', N'Sales Representative', N'Obere Str. 0123', N'Berlin', NULL, N'10092', N'Germany', N'030-3456789', N'030-0123456')
INSERT [Sales].[Customers] ([custid], [companyname], [contactname], [contacttitle], [address], [city], [region], [postalcode], [country], [phone], [fax]) VALUES (2, N'Customer MLTDN', N'Hassall, Mark', N'Owner', N'Avda. de la Constitución 5678', N'México D.F.', NULL, N'10077', N'Mexico', N'(5) 789-0123', N'(5) 456-7890')
INSERT [Sales].[Customers] ([custid], [companyname], [contactname], [contacttitle], [address], [city], [region], [postalcode], [country], [phone], [fax]) VALUES (3, N'Customer KBUDE', N'Peoples, John', N'Owner', N'Mataderos  7890', N'México D.F.', NULL, N'10097', N'Mexico', N'(5) 123-4567', NULL)
SET IDENTITY_INSERT [Sales].[Customers] OFF
GO
INSERT [Sales].[OrderDetails] ([orderid], [productid], [unitprice], [qty], [discount]) VALUES (10248, 11, 14.0000, 12, CAST(0.000 AS Numeric(4, 3)))
INSERT [Sales].[OrderDetails] ([orderid], [productid], [unitprice], [qty], [discount]) VALUES (10248, 42, 9.8000, 10, CAST(0.000 AS Numeric(4, 3)))
INSERT [Sales].[OrderDetails] ([orderid], [productid], [unitprice], [qty], [discount]) VALUES (10248, 72, 34.8000, 5, CAST(0.000 AS Numeric(4, 3)))
GO
SET IDENTITY_INSERT [Sales].[Orders] ON 

INSERT [Sales].[Orders] ([orderid], [custid], [empid], [orderdate], [requireddate], [shippeddate], [shipperid], [freight], [shipname], [shipaddress], [shipcity], [shipregion], [shippostalcode], [shipcountry]) VALUES (10248, 85, 5, CAST(N'2006-07-04T00:00:00.000' AS DateTime), CAST(N'2006-08-01T00:00:00.000' AS DateTime), CAST(N'2006-07-16T00:00:00.000' AS DateTime), 3, 32.3800, N'Ship to 85-B', N'6789 rue de l''Abbaye', N'Reims', NULL, N'10345', N'France')
INSERT [Sales].[Orders] ([orderid], [custid], [empid], [orderdate], [requireddate], [shippeddate], [shipperid], [freight], [shipname], [shipaddress], [shipcity], [shipregion], [shippostalcode], [shipcountry]) VALUES (10249, 79, 6, CAST(N'2006-07-05T00:00:00.000' AS DateTime), CAST(N'2006-08-16T00:00:00.000' AS DateTime), CAST(N'2006-07-10T00:00:00.000' AS DateTime), 1, 11.6100, N'Ship to 79-C', N'Luisenstr. 9012', N'Münster', NULL, N'10328', N'Germany')
INSERT [Sales].[Orders] ([orderid], [custid], [empid], [orderdate], [requireddate], [shippeddate], [shipperid], [freight], [shipname], [shipaddress], [shipcity], [shipregion], [shippostalcode], [shipcountry]) VALUES (10250, 34, 4, CAST(N'2006-07-08T00:00:00.000' AS DateTime), CAST(N'2006-08-05T00:00:00.000' AS DateTime), CAST(N'2006-07-12T00:00:00.000' AS DateTime), 2, 65.8300, N'Destination SCQXA', N'Rua do Paço, 7890', N'Rio de Janeiro', N'RJ', N'10195', N'Brazil')
GO
SET IDENTITY_INSERT [Sales].[Orders] OFF
GO
SET IDENTITY_INSERT [Sales].[Shippers] ON 

INSERT [Sales].[Shippers] ([shipperid], [companyname], [phone]) VALUES (1, N'Shipper GVSUA', N'(503) 555-0137')
INSERT [Sales].[Shippers] ([shipperid], [companyname], [phone]) VALUES (2, N'Shipper ETYNR', N'(425) 555-0136')
INSERT [Sales].[Shippers] ([shipperid], [companyname], [phone]) VALUES (3, N'Shipper ZHISN', N'(415) 555-0138')
SET IDENTITY_INSERT [Sales].[Shippers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_lastname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_lastname] ON [HR].[Employees]
(
	[lastname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_postalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_postalcode] ON [HR].[Employees]
(
	[postalcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [categoryname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [categoryname] ON [Production].[Categories]
(
	[categoryname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_categoryid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_categoryid] ON [Production].[Products]
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_productname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_productname] ON [Production].[Products]
(
	[productname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_supplierid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_supplierid] ON [Production].[Products]
(
	[supplierid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_companyname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_companyname] ON [Production].[Suppliers]
(
	[companyname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_postalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_postalcode] ON [Production].[Suppliers]
(
	[postalcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_city]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_city] ON [Sales].[Customers]
(
	[city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_companyname]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_companyname] ON [Sales].[Customers]
(
	[companyname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_postalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_postalcode] ON [Sales].[Customers]
(
	[postalcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_region]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_region] ON [Sales].[Customers]
(
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_orderid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_orderid] ON [Sales].[OrderDetails]
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_productid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_productid] ON [Sales].[OrderDetails]
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_custid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_custid] ON [Sales].[Orders]
(
	[custid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_empid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_empid] ON [Sales].[Orders]
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_orderdate]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_orderdate] ON [Sales].[Orders]
(
	[orderdate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_shippeddate]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_shippeddate] ON [Sales].[Orders]
(
	[shippeddate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nc_shipperid]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_shipperid] ON [Sales].[Orders]
(
	[shipperid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nc_shippostalcode]    Script Date: 28/09/2025 10:37:02 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nc_shippostalcode] ON [Sales].[Orders]
(
	[shippostalcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Production].[Products] ADD  CONSTRAINT [DFT_Products_unitprice]  DEFAULT ((0)) FOR [unitprice]
GO
ALTER TABLE [Production].[Products] ADD  CONSTRAINT [DFT_Products_discontinued]  DEFAULT ((0)) FOR [discontinued]
GO
ALTER TABLE [Sales].[OrderDetails] ADD  CONSTRAINT [DFT_OrderDetails_unitprice]  DEFAULT ((0)) FOR [unitprice]
GO
ALTER TABLE [Sales].[OrderDetails] ADD  CONSTRAINT [DFT_OrderDetails_qty]  DEFAULT ((1)) FOR [qty]
GO
ALTER TABLE [Sales].[OrderDetails] ADD  CONSTRAINT [DFT_OrderDetails_discount]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [Sales].[Orders] ADD  CONSTRAINT [DFT_Orders_freight]  DEFAULT ((0)) FOR [freight]
GO
ALTER TABLE [HR].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees] FOREIGN KEY([mgrid])
REFERENCES [HR].[Employees] ([empid])
GO
ALTER TABLE [HR].[Employees] CHECK CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [Production].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([categoryid])
REFERENCES [Production].[Categories] ([categoryid])
GO
ALTER TABLE [Production].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [Production].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([supplierid])
REFERENCES [Production].[Suppliers] ([supplierid])
GO
ALTER TABLE [Production].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [Sales].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([orderid])
REFERENCES [Sales].[Orders] ([orderid])
GO
ALTER TABLE [Sales].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [Sales].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([productid])
REFERENCES [Production].[Products] ([productid])
GO
ALTER TABLE [Sales].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [Sales].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([custid])
REFERENCES [Sales].[Customers] ([custid])
GO
ALTER TABLE [Sales].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [Sales].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([empid])
REFERENCES [HR].[Employees] ([empid])
GO
ALTER TABLE [Sales].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [Sales].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shippers] FOREIGN KEY([shipperid])
REFERENCES [Sales].[Shippers] ([shipperid])
GO
ALTER TABLE [Sales].[Orders] CHECK CONSTRAINT [FK_Orders_Shippers]
GO
ALTER TABLE [HR].[Employees]  WITH CHECK ADD  CONSTRAINT [CHK_birthdate] CHECK  (([birthdate]<=getdate()))
GO
ALTER TABLE [HR].[Employees] CHECK CONSTRAINT [CHK_birthdate]
GO
ALTER TABLE [Production].[Products]  WITH CHECK ADD  CONSTRAINT [CHK_Products_unitprice] CHECK  (([unitprice]>=(0)))
GO
ALTER TABLE [Production].[Products] CHECK CONSTRAINT [CHK_Products_unitprice]
GO
ALTER TABLE [Sales].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CHK_discount] CHECK  (([discount]>=(0) AND [discount]<=(1)))
GO
ALTER TABLE [Sales].[OrderDetails] CHECK CONSTRAINT [CHK_discount]
GO
ALTER TABLE [Sales].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CHK_qty] CHECK  (([qty]>(0)))
GO
ALTER TABLE [Sales].[OrderDetails] CHECK CONSTRAINT [CHK_qty]
GO
ALTER TABLE [Sales].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CHK_unitprice] CHECK  (([unitprice]>=(0)))
GO
ALTER TABLE [Sales].[OrderDetails] CHECK CONSTRAINT [CHK_unitprice]
GO
/****** Object:  StoredProcedure [Sales].[usp_AddOrderWithDetail]    Script Date: 28/09/2025 10:37:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sales].[usp_AddOrderWithDetail]
    @CustId        INT,
    @EmpId         INT,
    @ShipperId     INT,
    @ShipName      NVARCHAR(40),
    @ShipAddress   NVARCHAR(60),
    @ShipCity      NVARCHAR(15),
    @OrderDate     DATETIME,
    @RequiredDate  DATETIME,
    @ShippedDate   DATETIME = NULL,
    @Freight       MONEY,
    @ShipCountry   NVARCHAR(15),
    @ProductId     INT,
    @UnitPrice     MONEY,
    @Qty           SMALLINT,
    @Discount      NUMERIC(4,3),
    @NewOrderId    INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO Sales.Orders
        (custid, empid, orderdate, requireddate, shippeddate, shipperid, freight,
         shipname, shipaddress, shipcity, shipcountry)
        VALUES
        (@CustId, @EmpId, @OrderDate, @RequiredDate, @ShippedDate, @ShipperId, @Freight,
         @ShipName, @ShipAddress, @ShipCity, @ShipCountry);

        SET @NewOrderId = SCOPE_IDENTITY();

        INSERT INTO Sales.OrderDetails (orderid, productid, unitprice, qty, discount)
        VALUES (@NewOrderId, @ProductId, @UnitPrice, @Qty, @Discount);

        COMMIT;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        DECLARE @msg NVARCHAR(2048)=ERROR_MESSAGE();
        RAISERROR(@msg,16,1);
    END CATCH
END
GO
